<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="verified-target-feed" value="lock/package-source" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="verified-target-feed">
      <package pattern="Orleans.SearchableStorage" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Humanizer.Core" />
      <package pattern="Microsoft.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Npgsql" />
      <package pattern="PolyType" />
      <package pattern="System.*" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
